
.carousel-inner img {
  margin: auto;    
}

.carousel-inner {
  height: 400px;
  width: auto;
  overflow: hidden;
}

.container {
     width: 100%;
     text-align: center;
}


.panel1 {
    background-color: black;
    display: inline-block;
    margin-right: 30px;
}

.panel2 {
    background-color: black;
    display: inline-block;
    margin-right: 30px;
}

.panel3 {
    background-color: black; 
    display: inline-block;
}

h4 {
    width: 100%;
    text-align: center;
}

.narocise {
    text-align: center;
}

.input {
    width: 30%;
    display: inline-block;
    height: 350px;
}

.username {
    margin-bottom: 20px;
}

.phone {
    margin-bottom: 20px;
}

.termin {
    margin-bottom: 20px;
}

.ostalo {
    width: 100%; 
}

.ostalo input {
    height: 100px;
}

.tabela {
    margin-left: 5%;
    padding-top: 25px;
    height: 350px;
    width: 25%;
    display: inline-block;
}

table {
 width: 50%;
 border: 2px solid #ddd;
 text-align: center;    
}

.noga {
   text-align: center; 
}

.kontakt h4 {
    text-align: left;
}

.kontakt {
    text-align: left;
    height: 200px;
    width: 30%;
    display: inline-block;
}

.navigacija h4 {
    text-align: left;
}

.navigacija {
   float: right;    
   text-align: left;    
   width: 30%;
   height: 200px;    
   display: inline-block;    
}