.carousel-inner img {
  margin: auto;    
}

.carousel-inner {
  height: 400px;
  width: auto;
  overflow: hidden;
}

.container {
    padding: 20px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;    
}


.panel1 {
    float: left;
    display: block;    
}

.panel2 {
    float: center;
    display: inline-block;
    margin: 0 auto;
}

.panel3 {
    float: right; 
    display: block;
}

h4 {
    text-align: center;
}

.input {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.username {
    width: 40%;
    margin-bottom: 20px;
}

.phone {
    width: 40%;
    margin-bottom: 20px;
}

.termin {
    width: 40%;
    margin-bottom: 20px;
}

.ostalo {
    width: 40%;
    height: auto;
}

.ostalo input {
    height: 100px;
}

.table {
   width: 40%;
   float: right;
   position: relative;
    top: -300px;
    border: 3px solid #e6e6e6;
}

.kontakt h4 {
    text-align: left;
}

.kontakt {
    padding-top: 1px;
    padding-left: 5px;
    width: 70%;
    margin: 0 auto;
    background-color: beige;
}

.navigacija {
    float: right;
    position: relative;
    top: -210px;
}